<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <title>E-Commerce Vnsy</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <style>
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
    </style>
  </head>

  <body>
    {{{body}}}
    <script src="/other/socket.io.dev.js"
            defer></script>
    <script src="/other/main.js"
            defer></script>
  </body>

</html>